@import '../styles/main.scss';

.meta {
    p {
        margin-bottom: 0.5rem;
    }

    &__dateauthor {
        display: flex;
        flex-direction: column;

        @include breakpoint(sm) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    @include breakpoint(sm) {
        &__date {
            order: 2;
        }
    }
}

.ads-atf {
    padding-top: 15px;
}

.ad {
    margin: 0 auto 15px;

    &.desktop-ads {
        display: none;
    }

    @include breakpoint(md) {
        &.desktop-ads {
            display: block;
        }

        &.mobile-ads {
            display: none;
        }
    }
}