@import './main.scss';

.form {
  margin: 0 -15px 40px;

  &__row {
    width: 100%;

    @include breakpoint(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__field {
    padding: 15px;
    width: 100%;

    &__hidden {
      display: none;
    }

    &__input {
      border: solid 2px $primary;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;

      &--checkbox {
        float: left;
        width: auto;
        margin-right: 10px;
      }
    }

    &__label {
      width: 100%;
      display: block;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }

    @include breakpoint(md) {
      &--50 {
        width: 50%;
      }
  
      &--100 {
        width: 100%;
      }
    }
  }

  &__message {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    margin: 15px 0 30px;

    &--error {
      background: red;
      color: white;
    }

    &--success {
      background: green;
      color: white;
    }
  }

  button {
    background: $primary;
    border: none;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
  }
}