.entry-content {
    p {
        font-size: 18px;
        line-height: 28px;

        @include breakpoint(md) {
            font-size: 21px;
            line-height: 33px;
        }
    }

    small {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }
}

a {
    color: $primary;
}

hr {
    background: $grey;
    height: 3px;
}

small,
.small,
figcaption {
    font-size: 0.8rem;
}

blockquote {
    text-align: center;
    border-top: 3px solid $grey;
    border-bottom: 3px solid $grey;
    padding: 30px 0;
    font-weight: bold;
    position: relative;
}
  
blockquote::before,
blockquote::after {
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: $primary;
    display: block;
    text-align: center;
    height: 40px;
}

blockquote::before {
    content: "\201C"; /* Unicode for Left Double Quote */
}

blockquote::after {
    content: "\201D"; /* Unicode for Left Double Quote */ 
}
