@import '../styles/main.scss';

header {
    .container {
        padding: 0 30px;

        @include breakpoint(sm) {
            padding: 0;
        }
    }

    .svg-inline--fa {
        margin-left: 7px;
    }

    a {
        color: $primary;
    }
    @include breakpoint(sm) {
        .order-last {
            order: 99;
        }

        .brand {
            border-bottom: $border;
        }
    }
}
